.header_text{
    font-weight: 700;
    line-height: 3.5rem;
}
@media screen and (min-width:1500px) {
    .header_text{
        font-size: 50px;
    }
}
@media screen and (min-width:1400px) and (max-width:1500px) {
    .header_text{
        font-size: 45px;
    }
}
@media screen and (min-width:1300px) and (max-width:1400px) {
    .header_text{
        font-size: 40px;
    }
}
@media screen and (min-width:1200px) and (max-width:1300px) {
    .header_text{
        font-size: 35px;
    }
}
@media screen and (min-width:1000px) and (max-width:1200px) {
    .header_text{
        font-size: 30px;
    }
}