.header_text{
    font-weight: 700;
    line-height: 3.5rem;
}
@media screen and (min-width:1500px) {
    .header_text{
        font-size: 50px;
    }
}
@media screen and (min-width:1400px) and (max-width:1500px) {
    .header_text{
        font-size: 45px;
        line-height:3rem;
    }
}
@media screen and (min-width:1300px) and (max-width:1400px) {
    .header_text{
        font-size: 42px;
        line-height: 2.7rem;
    }
}
@media screen and (min-width:1200px) and (max-width:1300px) {
    .header_text{
        font-size: 40px;
        line-height: 2.5rem;
    }
}
@media screen and (min-width:1100px) and (max-width:1200px) {
    .header_text{
        font-size: 37px;
        line-height: 2.5rem;
    }
}
@media screen and (min-width:1024px) and (max-width:1100px) {
    .header_text{
        font-size: 35px;
        line-height: 2rem;
    }
}
/* @media screen and (min-width:900px) and (max-width:1000px) {
    .header_text{
        font-size: 25px;
        line-height: 1.7rem;
    }
} */
@media screen and (min-width:768px) and  (max-width:1024px) {
    .header_text{
        font-size: 40px;
        line-height: 2.5rem;
        padding-top: 16px;
    }
}
@media screen and (min-width:640px) and  (max-width:768px) {
    .header_text{
        font-size: 40px;
        line-height: 3rem;
        text-align: center;
        padding-top: 16px;
    }
}
@media screen and (min-width:500px) and  (max-width:640px) {
    .header_text{
        font-size: 40px;
        line-height: 3rem;
        text-align: center;
        padding-top: 16px;
    }
}
@media screen and (min-width:400px) and  (max-width:500px) {
    .header_text{
        font-size: 30px;
        line-height: 2.5rem;
        text-align: center;
        padding-top: 16px;
    }
}
@media screen and (max-width:400px) {
    .header_text{
        font-size: 25px;
        line-height: 2rem;
        text-align: center;
        padding-top: 16px;
    }
}

